[submodule "plugins/pelican-advthumbnailer"]
	path = plugins/pelican-advthumbnailer
	url = https://github.com/mickem/pelican-advthumbnailer.git
[submodule "plugins/pelican-bootstrapify"]
	path = plugins/pelican-bootstrapify
	url = https://github.com/ingwinlu/pelican-bootstrapify.git
[submodule "plugins/pelican-page-hierarchy"]
	path = plugins/pelican-page-hierarchy
	url = https://github.com/mickem/pelican-page-hierarchy.git
[submodule "plugins/pelican-plugins"]
	path = plugins/pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "plugins/pelican_youtube"]
	path = plugins/pelican_youtube
	url = https://github.com/mickem/pelican_youtube
